# Vorlesung 3: Strukturen und Heuristiken der Konstruktion

Reguläre Ausdrücke: http://www.regexe.de/hilfe.jsp
                    https://pymotw.com/2/re

Pandas: http://www.data-analysis-in-python.org/3_pandas.html
      : https://bitbucket.org/hrojas/learn-pandas

## Pandas Dataframes

In [2]:
import json
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# json.load erzeugt ein dictionary der JSON Daten
with open('chapter1.json') as json_data:
    PoleisRawData = json.load(json_data)
    
type(PoleisRawData)

dict

In [4]:
# list() erstellt eine Liste der keys
PoleisKeyList = list(PoleisRawData.keys())
PoleisKeyList

['21. Herakleia 2 ',
 '17. Gela ',
 '35. *Longane ',
 '23. Herbita ',
 '45. (Sileraioi)',
 '18. Heloron ',
 '41. Naxos ',
 '16. Galeria ',
 '30. Katane ',
 '36. Megara ',
 '32. Kephaloidion ',
 '5. Abakainon ',
 '26 *Imachara ',
 '15. Euboia ',
 '34. Lipara ',
 '47. Syrakousai ',
 '19. Henna ',
 '49. Tyndaris ',
 '33. Leontinoi ',
 '20. Herakleia 1',
 '39. Mytistratos ',
 '29. Kasmenai ',
 '9. Akragas ',
 '38. Mylai ',
 '14. Engyon ',
 '13. Apollonia ',
 '24. Himera ',
 '12. Alontion ',
 '50. (Tyrrhenoi)',
 '7. Agyrion ',
 '48. Tauromenion ',
 '37. Morgantina ',
 '40. Nakone ',
 '28. Kamarina ',
 '6. Adranon ',
 '43. Piakos ',
 '22. Herbes(s)os ',
 '51. Zankle ',
 '44. Selinous ',
 '27. Kallipolis ',
 '10. Akrai ',
 '25. Hippana ',
 '46. (Stielanaioi)',
 '31. Kentoripa ',
 '42. Petra ',
 '11. Alaisa ',
 '8. Aitna ']

In [5]:
# Listenelemente werden mit eckigen Klammern ausgewählt. Eine Index-Zahl gibt die n-Stelle der Liste aus
PoleisKeyList[1]

'17. Gela '

In [6]:
PoleisRawData['11. Alaisa '] # mit tab Ergänzung der Index keys

"(Alaisinos) Map  47.  Lat. 38.00,long.  14.15.  Size of  territory:? Type:B: .  The  toponym  is  ,  (Diod. 14.16.2,  4).  The  city-ethnic  is  (C 4m  coins,  infra; Diod. 23.4.1). According  to Diod. 14.16.2,  Alaisa  was  founded  by Archonides  of  Herbita  in  403/2,  in  order  to house  veteran mercenaries,  a  symmikton  ochlon  that  the  war  against Dionysios  had  brought  to  the  city,  as  well  as  poor  citizens  of Herbita  (no. 23)  itself;  in  the  report  of  the  foundation,  Alaisa is  called  a  polis  (       ),  presumably  in both  the  urban  and  the  political  sense.  Another  tradition held  that  it  was  a  foundation  by  Himilkon  of  Carthage (Diod. 14.16.4).In  the  Roman  period,  however,  the  Herbitan origin  of  the  city  was  considered  a  disgrace  by  its  citizens (Diod. 14.16.3),  and  this  may  explain  the  variant  tradition. The  internal  collective  use  of  the  city-ethnic  is  found  on  C 4s coins  (infra),  and  the  external  collective use  in  Diod. 23.4.1 (r 263). Alaisa  was  member  of  Timoleon's symmachia  (cf.  Diod. 16.73.2  (r 342/1)),  as  can  be  inferred  from  its  minting  of Timoleontic  symmachia  coins  (infra). Alaisa  is  identified w ith  Castel  di  Tusa  on  the  north  coast of  Sicily,  where  there  are  substantial  remains  of  an  ancient urban  site:  habitation  structures  that  reveal  an  orthogonal layout  with  an  agora;  a  circuit  wall  in  ashlar  technique;  a monumental  stoa;  and  remains  of  two  temples,  of  which one  must  have  been  of  Apollo  (infra),  all  Hellenistic (Scibona  ( 1976b)).  The  epiklesis  of  Apollo--Archagetas (infra)--is t estimony  to  the  importance  of  his  cult. Alaisa  struck  Greek-style  bronze  coins  from  the  time  of Timoleon's symmachia  (c. 340):  obv.  Apollo,  legend: ;  rev.  torch  and  stalks  of  barley,  legend: (SNG  Cop.  Sicily 132);  also  Zeus Eleutherios  type:  obv.  head  of  Zeus  Eleutherios  with  short hair,  legend:  ;  rev.  torch  between ears  of  corn,  legend:  . Other  types  depict  Apollo  (legend: ) and the  nymph  Sikelia  (legend: ).  Lower  bronze denominations  have obv.  griffin,  rev.  free  horse,  legend: (SNG  Cop.  Sicily 132\xad34).  See  Head,  HN ²125\xad26; Talbert  ( 1974)  188\xad89;  Bernabò  Brea  ( 1975)  21;  Karlsson ( 1995)  150,  165  n. 3  with  refs."

In [7]:
for i in PoleisKeyList:
    if "Megara" in PoleisRawData[i]:
        print(i)

18. Heloron
36. Megara
15. Euboia
47. Syrakousai
33. Leontinoi
44. Selinous
46. (Stielanaioi)

In [8]:
# Der key in eckigen Klammern gibt den Wert des Elements mit dem Key aus
PoleisRawData[PoleisKeyList[4]]

'Map 47.  Unlocated  (cf.  Manni  ( 1981)  225). Type:  C: .The  Sileraioi  are  known exclusively  from  their rare C 4s  Greek-style  bronze  coinage:  obv.  forepart  of man-headed  bull,  legend: (retrograde);  rev. naked  warrior,  legend: (retrograde)  (Head,  HN ² 169\xad70;  Talbert  ( 1974)  181;  SNG  Cop.  Sicily 607).'

In [9]:
# Liest das Dictionary als Dataframe ein. Namen der Poleis werden als Index benutzt.
dfPoleis = pd.DataFrame([PoleisRawData]).transpose()
dfPoleis = dfPoleis.rename(columns={0: 'Beschreibung'})
dfPoleis.head(4)

                                                     Beschreibung
10. Akrai       (Akraios) Map  47.  Lat. 37.05,long.  14.55.  ...
11. Alaisa      (Alaisinos) Map  47.  Lat. 38.00,long.  14.15....
12. Alontion    (Alontinos) Map  47.  Lat. 38.05,long.  14.40....
13. Apollonia   (Apolloniates) Map  47.  Lat. 38.00,long. 14.3...

# Konstruktion neuer Merkmale
## Textmuster mit regulären Ausdrücken

http://www.regexe.de/hilfe.jsp 
https://www.cheatography.com/davechild/cheat-sheets/regular-expressions/

http://www.coli.uni-saarland.de/courses/python1-10/folien/PythonI10-07.pdf

In [10]:
# Konstruktion einer Liste mit sogenannten List-Comprehensions
ListCities = [x[4:] for x in dfPoleis.index]
ListCities

['Akrai ',
 'Alaisa ',
 'Alontion ',
 'Apollonia ',
 'Engyon ',
 'Euboia ',
 'Galeria ',
 'Gela ',
 'Heloron ',
 'Henna ',
 'Herakleia 1',
 'Herakleia 2 ',
 'Herbes(s)os ',
 'Herbita ',
 'Himera ',
 'Hippana ',
 'Imachara ',
 'Kallipolis ',
 'Kamarina ',
 'Kasmenai ',
 'Katane ',
 'Kentoripa ',
 'Kephaloidion ',
 'Leontinoi ',
 'Lipara ',
 '*Longane ',
 'Megara ',
 'Morgantina ',
 'Mylai ',
 'Mytistratos ',
 'Nakone ',
 'Naxos ',
 'Petra ',
 'Piakos ',
 'Selinous ',
 '(Sileraioi)',
 '(Stielanaioi)',
 'Syrakousai ',
 'Tauromenion ',
 'Tyndaris ',
 'bakainon ',
 '(Tyrrhenoi)',
 'Zankle ',
 'dranon ',
 'gyrion ',
 'itna ',
 'kragas ']

In [11]:
# Extrahiere Name der Polis aus Index
dfPoleis['city'] = [x[4:] for x in dfPoleis.index]
dfPoleis.head()

                                                     Beschreibung        city
10. Akrai       (Akraios) Map  47.  Lat. 37.05,long.  14.55.  ...      Akrai
11. Alaisa      (Alaisinos) Map  47.  Lat. 38.00,long.  14.15....     Alaisa
12. Alontion    (Alontinos) Map  47.  Lat. 38.05,long.  14.40....   Alontion
13. Apollonia   (Apolloniates) Map  47.  Lat. 38.00,long. 14.3...  Apollonia
14. Engyon      (Engyinos)  Map  47.  Lat. 37.45,long.  14.35....     Engyon

In [12]:
PoleisRawData["21. Herakleia 2 "]

"Map 47.Unlocated  site  in  western  Sicily, in  the  region  of  Eryx.  Type:  C: .  The  toponym  is `,  (Hdt. 5.43)  and  `,  (Diod. 4.23.3). A  city-ethnic  is  not  attested. Following  the  advice  of  Antichares  of  Eleon  and  the  affir- mation  of  the  Delphic  oracle  that  he  would  succeed,  Dorieus of  Sparta,  who  was  of  royal  and  so  Heraklid  descent,  set  out to  found  a  colony  in  the  region  of  Eryx  (Hdt. 5.43),  which, according  to  Antichares,  belonged  to  the  descendants  of Herakles  (Hdt. 5.43;  cf.  Paus. 3.16.5).  However,  Dorieus' expeditionary  force  was  severely  defeated  by  an  alliance  of Phoenicians  and  Egestans  (Hdt. 5.46.1;  cf.  Diod. 4.23.3  and Paus. 3.16.5).  In  the  aftermath  of  the  disaster  Euryleon,  the sole  survivor  of  the  synktistai,  and  the  remnants  of  the  expe- dition  captured  Herakleia  Minoa  (no. 20)  and  ousted  the tyrant  Peithagoras  of  Selinous  (Hdt. 4.46.2).  Referring  to the  death  of  Dorieus  as  a  thing  of  the  past,  Herodotos  dates the  defeat  of  the  expedition  prior  to c. 481/80  ( 7.158),  or  to 491/90  as  argued  by  some  scholars  (Merante  ( 1970a));  the beginning  of  the  expedition  is  connected  with  the  destruc- tion  of  Sybaris  (no. 70)  by  Kroton  (no. 56)  in  c. 510  (Hdt. 5.45; cf.  Merante  ( 1970a),  ( 1970b)  131\xad33,  who  argues  for  an  earli- er  chronology).  According  to  Diod. 4.23.3,  Dorieus  did  in fact  succeed  in  taking  back  the  land  of  the  Herakleidai, and  founded  a  polis  named  Herakleia  ( `) which prospered for a period before being razed  to  the  ground  by  the  Carthaginians.  Thus,  it  cannot  be ruled  out  that  a  Spartan  settlement  did  exist  for  a  period  and was  then  destroyed  by  the  Phoenicians  (cf.  Bérard  ( 1957) 260\xad66;  Stauffenberg  ( 1960)  esp. 189\xad98;  De  Vido  ( 1989) sikelia  197 with  further  refs.;  Asheri  ( 1988)  for  an  analysis  of  the  rela- tionship  between  Greeks,  Phoenicians  and  Elymians)."

In [13]:
[re.findall("\d{1,2}",x) for x in dfPoleis.index]

[['10'],
 ['11'],
 ['12'],
 ['13'],
 ['14'],
 ['15'],
 ['16'],
 ['17'],
 ['18'],
 ['19'],
 ['20', '1'],
 ['21', '2'],
 ['22'],
 ['23'],
 ['24'],
 ['25'],
 ['26'],
 ['27'],
 ['28'],
 ['29'],
 ['30'],
 ['31'],
 ['32'],
 ['33'],
 ['34'],
 ['35'],
 ['36'],
 ['37'],
 ['38'],
 ['39'],
 ['40'],
 ['41'],
 ['42'],
 ['43'],
 ['44'],
 ['45'],
 ['46'],
 ['47'],
 ['48'],
 ['49'],
 ['5'],
 ['50'],
 ['51'],
 ['6'],
 ['7'],
 ['8'],
 ['9']]

In [14]:
# Extrahiere Nummer des Polis Eintrags
dfPoleis['city_index'] = [int(re.findall('\d{1,2}', x)[0]) for x in dfPoleis.index]
dfPoleis.head()

,Beschreibung,city,city_index
10. Akrai,"(Akraios) Map 47. Lat. 37.05,long. 14.55. ...",Akrai,10
11. Alaisa,"(Alaisinos) Map 47. Lat. 38.00,long. 14.15....",Alaisa,11
12. Alontion,"(Alontinos) Map 47. Lat. 38.05,long. 14.40....",Alontion,12
13. Apollonia,"(Apolloniates) Map 47. Lat. 38.00,long. 14.3...",Apollonia,13
14. Engyon,"(Engyinos) Map 47. Lat. 37.45,long. 14.35....",Engyon,14

In [15]:
# Sortiere die Zeilen nach der Spalte 
dfPoleis = dfPoleis.sort_values(by='city_index')
dfPoleis.head(4)

,Beschreibung,city,city_index
5. Abakainon,"(Abakaininos) Map 47. Lat. 38.05,long. 15.05...",bakainon,5
6. Adranon,"(Adranites) Map 47. Lat. 37.40,long. 14.50....",dranon,6
7. Agyrion,"(Agyrinaios) Map 47. Lat. 37.40,long. 14.30...",gyrion,7
8. Aitna,(Aitnaios) Map 47.Location of Aitna I as ...,itna,8

## Textmustersuche in der Beschreibung einer Polis

### Neue Funktionen

In [16]:
nl=dfPoleis["city"]
nl.head()

5. Abakainon     bakainon
6. Adranon         dranon
7. Agyrion         gyrion
8. Aitna             itna
9. Akragas         kragas
Name: city, dtype: object

In [17]:
lcity=list(dfPoleis["city"])
lcity[0:3]

['bakainon ', 'dranon ', 'gyrion ']

In [18]:
for i in lcity:
    if re.search('dr*',i):
        print(i)

dranon
Kephaloidion
Tyndaris

In [19]:
dfPoleis[dfPoleis["city"].str.contains("ag")]

,Beschreibung,city,city_index
9. Akragas,"(Akragantinos) Map 47. Lat. 37.20,long. 13....",kragas,9

In [20]:
dfNeu=dfPoleis[dfPoleis["city"].str.contains("ag")]

### Geographische Koordinaten

In [21]:
def ListePattern(string,pattern):
    x = re.findall(pattern,string)
    if x:
        return(x[0][-5:])

In [22]:
ListePattern(dfPoleis["Beschreibung"][0],"Lat\.\s?\d+\.\d+")

'38.05'

In [23]:
# gleiches auch für long.
listLong=ListePattern(dfPoleis['Beschreibung'][0],"long\.\s*\d+\.\d+")
listLong

'15.05'

In [24]:
dfPoleis["Beschreibung"].apply(lambda row: ListePattern(row,"Lat\.\s?\d+\.\d+"))

5. Abakainon         38.05
6. Adranon           37.40
7. Agyrion           37.40
8. Aitna              None
9. Akragas           37.20
10. Akrai            37.05
11. Alaisa           38.00
12. Alontion         38.05
13. Apollonia        38.00
14. Engyon           37.45
15. Euboia            None
16. Galeria           None
17. Gela             37.05
18. Heloron          36.50
19. Henna            37.35
20. Herakleia 1      37.25
21. Herakleia 2       None
22. Herbes(s)os       None
23. Herbita           None
24. Himera           37.55
25. Hippana          37.40
26 *Imachara          None
27. Kallipolis        None
28. Kamarina         36.50
29. Kasmenai         37.05
30. Katane           37.30
31. Kentoripa        37.35
32. Kephaloidion     38.00
33. Leontinoi        37.15
34. Lipara           38.30
35. *Longane         38.05
36. Megara           37.10
37. Morgantina       37.25
38. Mylai            38.15
39. Mytistratos      37.35
40. Nakone            None
41. Naxos            37.50
42. Petra             None
43. Piakos            None
44. Selinous         37.35
45. (Sileraioi)       None
46. (Stielanaioi)    37.10
47. Syrakousai       37.05
48. Tauromenion      37.50
49. Tyndaris         38.10
50. (Tyrrhenoi)       None
51. Zankle            None
Name: Beschreibung, dtype: object

In [25]:
dfPoleis['Latitude'] = dfPoleis['Beschreibung'].apply(lambda raw: ListePattern(raw,"Lat\.\s?\d+\.\d+"))

dfPoleis['Longitude'] = dfPoleis['Beschreibung'].apply(lambda raw: ListePattern(raw,"long\.\s*\d+\.\d+"))

In [26]:
dfPoleis

,Beschreibung,city,city_index,Latitude,Longitude
5. Abakainon,"(Abakaininos) Map 47. Lat. 38.05,long. 15.05...",bakainon,5,38.05,15.05
6. Adranon,"(Adranites) Map 47. Lat. 37.40,long. 14.50....",dranon,6,37.40,14.50
7. Agyrion,"(Agyrinaios) Map 47. Lat. 37.40,long. 14.30...",gyrion,7,37.40,14.30
8. Aitna,(Aitnaios) Map 47.Location of Aitna I as ...,itna,8,None,None
9. Akragas,"(Akragantinos) Map 47. Lat. 37.20,long. 13....",kragas,9,37.20,13.35
10. Akrai,"(Akraios) Map 47. Lat. 37.05,long. 14.55. ...",Akrai,10,37.05,14.55
11. Alaisa,"(Alaisinos) Map 47. Lat. 38.00,long. 14.15....",Alaisa,11,38.00,14.15
12. Alontion,"(Alontinos) Map 47. Lat. 38.05,long. 14.40....",Alontion,12,38.05,14.40
13. Apollonia,"(Apolloniates) Map 47. Lat. 38.00,long. 14.3...",Apollonia,13,38.00,14.35
14. Engyon,"(Engyinos) Map 47. Lat. 37.45,long. 14.35....",Engyon,14,37.45,14.35
15. Euboia,(Euboeus) Map 47. Unlocated. Type: C: .Th...,Euboia,15,None,None
16. Galeria,(Galarinos) Map 47.Unlocated (Manni ( 1981)...,Galeria,16,None,None
17. Gela,"(Geloios, Geloaios) Map 47. Lat. 37.05,long...",Gela,17,37.05,14.15
18. Heloron,"(Ailoros) Map 47. Lat. 36.50,long. 15.05. ...",Heloron,18,36.50,15.05
19. Henna,"(Hennaios) Map 47. Lat. 37.35,long. 14.15. ...",Henna,19,37.35,14.15
20. Herakleia 1,"(Herakleotes) Map 47. Lat. 37.25,long. 13.15...",Herakleia 1,20,37.25,13.15
21. Herakleia 2,"Map 47.Unlocated site in western Sicily, i...",Herakleia 2,21,None,None
22. Herbes(s)os,"(Herbessinos) Map 47. Unlocated, but presum...",Herbes(s)os,22,None,None
23. Herbita,(Herbitaios) Map 47.Unlocated (cf. C. Boeh...,Herbita,23,None,None
24. Himera,"(Himeraios) Map 47. Lat. 37.55,long. 13.50....",Himera,24,37.55,13.50
25. Hippana,"(Hipanatas) Map 47. Lat. 37.40,long. 13.25...",Hippana,25,37.40,13.25
26 *Imachara,(Imacharaios) Map 47. Unlocated. Barr. tent...,Imachara,26,None,14.20
27. Kallipolis,(Kallipolites) Map 47. Unlocated. Type: A...,Kallipolis,27,None,None
28. Kamarina,"(Kamarinaios) Map 47. Lat. 36.50,long. 14.25...",Kamarina,28,36.50,14.25
29. Kasmenai,"(Kasmenaios) Map 47. Lat. 37.05,long. 14.50....",Kasmenai,29,37.05,14.50
30. Katane,"(Katanaios) Map 47. Lat. 37.30,long. 15.05....",Katane,30,37.30,15.05
31. Kentoripa,"(Kentoripinos) Map 47. Lat. 37.35,long. 14.4...",Kentoripa,31,37.35,14.45
32. Kephaloidion,"(Kephaloiditas) Map 47. Lat. 38.00, long. 14...",Kephaloidion,32,38.00,14.00
33. Leontinoi,"(Leontinos) Map 47. Lat. 37.15,long. 15.00....",Leontinoi,33,37.15,15.00
34. Lipara,(Liparaios) Map 47. Lat. 38.30 long. 14.55....,Lipara,34,38.30,14.55
35. *Longane,"(Longenaios) Map 47. Lat. 38.05,long. 15.10....",*Longane,35,38.05,15.10
36. Megara,"(Megareus) Map 47. Lat. 37.10,long. 15.10. ...",Megara,36,37.10,15.10
37. Morgantina,"(Morgantinos) Map 47. Lat. 37.25,long. 14.30...",Morgantina,37,37.25,14.30
38. Mylai,"(Mylaios) Map 47. Lat. 38.15, long 15.15. ...",Mylai,38,38.15,None
39. Mytistratos,"(Mytiseratinos) Map 47. Lat. 37.35,long. 14....",Mytistratos,39,37.35,14.00
40. Nakone,(Nakonaios) Map 47. Unlocated (Tegon ( 199...,Nakone,40,None,None
41. Naxos,"(Naxios) Map 47. Lat. 37.50,long. 15.15. S...",Naxos,41,37.50,15.15
42. Petra,(Petrinos) Map 47. Unlocated (cf. Bejor (...,Petra,42,None,None
43. Piakos,"(Piakinos) Map 47. Unlocated, but possibly...",Piakos,43,None,None
44. Selinous,"(Selinousios) Map 47. Lat. 37.35,long. 12.5...",Selinous,44,37.35,12.50
45. (Sileraioi),Map 47. Unlocated (cf. Manni ( 1981) 225)...,(Sileraioi),45,None,None
46. (Stielanaioi),"Map 47. Lat. 37.10,long. 14.55: the loca- ...",(Stielanaioi),46,37.10,14.55
47. Syrakousai,"(Syrakosios) Map 47. Lat. 37.05,long. 15.15....",Syrakousai,47,37.05,15.15
48. Tauromenion,"(Tauromenitas) Map 47. Lat. 37.50, long. 15....",Tauromenion,48,37.50,15.15
49. Tyndaris,"(Tyndarites) Map 47. Lat. 38.10,long. 15.05...",Tyndaris,49,38.10,15.05
50. (Tyrrhenoi),Map 47. Unlocated. Type: C: .The Tyr- rhen...,(Tyrrhenoi),50,None,None
51. Zankle,(Zanklaios)/Messana,Zankle,51,None,None

### Zitatnachweise, Namen, Jahreszahlen

In [27]:
dfPoleis["Beschreibung"].iloc[0] # icloc is a method to refer to local index position

'(Abakaininos) Map  47.  Lat. 38.05,long. 15.05.  Size  of  territory:  ?  Type:  B: .  The  toponym  is ,  (Diod. 14.90.3)  or  ,  (Diod. 19.65.6;  Steph.  Byz. 2.11).  The  city-ethnic  is   (C 4s  coins,  infra;Diod. 14.78.5;  Steph.  Byz. 2.15). Abakainon  is  called  a  polis  in  the  urban  and  political  sens- es  at  Diod. 14.90.3  (r 393)  and  19.65.6  (r 315),  and  in  the  urban sense  at  14.90.4  (r 393).  The  passage  at  14.90.3  describes  it  as  a polis  symmachis  of  Magon,  and  in  a  later  period  it  was  part  of the  symmachia  of  Agathokles,  alongside  such  poleis  as Kamarina,  Leontinoi,  Katane  and  Messana  (Diod. 19.65.6 (r 315),  19.110.4  (r 311)).  The  internal  collective  use  of  the  city- ethnic  is  found  on  coins  struck  c. 400  (infra),  and  the  exter- nal  collective use  is  found  in  Diod. 19.110.4  (r 311). In 396,  Dionysios  I  deprived  Abakainon  of  a  part  of  its chora,  which  was  handed  over  to  his  new  foundation, Tyndaris  (no. 49;Diod.  14.77.5).  Abakainon  was  situated south-east  of  Tyndaris,  at  modern  Tripi.  The  ancient  city, destroyed  by  the  modern,  is  poorly  known.  However, Diodorus\'  report  ( 14.90.3)  that  in  393  Carthaginian  troops ²²  For  an  analysis  of  the  conflicts,  see  Manni  ( 1976a)  201\xad4. 182 fischer-hansen,  nielsen  and  ampolo defeated  by  Dionysios  took  refuge  in  the  city  (  ) suggests that by this date it was fortified.  There are  sporadic  Greek  remains  from  C 6,  and  substantial  Greek remains  from  C 4  (Villard  ( 1954));  the  investigation  of  the extensive  cemetery  north  of  the  city  has  brought  to  light  also monumental  C 4  tombs  of  the  type  known  from  Leontinoi (Bacci  and  Spigo  ( 1997\xad98));  the  city  minted  a  Greek-style coinage  from  C 5m  (infra). Abakainon  struck  silver  coins  (litra,  hemilitron)  from c.C 5m:  obv.  laureate  head,  bearded  (an  indigenous  god assimilated  to  Zeus)  or  beardless  (assimilated  to  Apollo),  or, on  later  coinage,  female  head  (nymph,  or  Demeter  or Persephone);  rev.  wild  boar  and  acorn,  at  times  a  grain  of barley  or  sow  and  piglet,  legend: ,  (above acorn)  (below), (on  obv.) (on  rev.), (Head,  HN ²  118;  Bertino  ( 1975);  SNG Cop.  Sicily 1\xad6).  In  C 4s,  the  city  struck  in  bronze:  ( 1) Probably  from  the  time  of  Timoleon:  obv.  female  head;  rev. forepart  of  bull,  or  forepart  of  man-headed  bull,  legend: ,  [],  (Head, HN ²  118;  Bertino  ( 1975)  124\xad26;  SNG  Cop.  Sicily 7);  ( 2) c. 344\xad338:  obv.  head  of  Dioskouros,  legend: ;  rev."free horse",  legend: ;  the  obv.  type  may  indicate  influence from  the  mint  of  Tyndaris  or,  more  generally,  from  southern Italy  (Bertino  ( 1975)  124\xad26).'

## Muster (Pattern) zur Erkennung der Literaturreferenzen

- Primärquellen

(Polyb. 1.18.2)
(Diod. 13.85.4  (r 406))
(Diod. 13.108.2)
(Hdt. 7.165;  IGDS  no. 182a)
(Pind.  Pyth. 6)
(Thuc. 6.4.4: µµ  )
(Xanthos  (FGrHist 765)  fr. 33;  Arist.  fr. 865)

- Sekundärquellen

(Karlsson  ( 1995)  161
(Waele  ( 1971) 195;  Hinz  ( 1998)  79)

- Jahreszahlen
( dddd)

In [28]:
# Definiere Funktion die reguläre Ausdrücke auf den DataFrame anwendet.
def ListePatternFull(value,pattern):
    x = re.findall(pattern, value)
    if x:
        return(x)

### Testen der regulären Ausdrücke

Finde alle groß-geschriebenen Wörter mit mindestens 3 nachfolgenden kleinen Buchstaben.

In [29]:
re.findall('[A-Z][a-z]{3,10}',dfPoleis['Beschreibung'].iloc[0])

['Abakaininos',
 'Size',
 'Type',
 'Diod',
 'Diod',
 'Steph',
 'Diod',
 'Steph',
 'Abakainon',
 'Diod',
 'Magon',
 'Agathokles',
 'Kamarina',
 'Leontinoi',
 'Katane',
 'Messana',
 'Diod',
 'Diod',
 'Dionysios',
 'Abakainon',
 'Tyndaris',
 'Diod',
 'Abakainon',
 'Tyndaris',
 'Tripi',
 'However',
 'Diodorus',
 'Carthaginia',
 'Manni',
 'Dionysios',
 'There',
 'Greek',
 'Greek',
 'Villard',
 'Leontinoi',
 'Bacci',
 'Spigo',
 'Greek',
 'Abakainon',
 'Zeus',
 'Apollo',
 'Demeter',
 'Persephone',
 'Head',
 'Bertino',
 'Sicily',
 'Probably',
 'Timoleon',
 'Head',
 'Bertino',
 'Sicily',
 'Dioskouros',
 'Tyndaris',
 'Italy',
 'Bertino']

Finde alle Ausdrücke wie oben, denen ein Punkt folgt, mit anschließenden Zifferfolgen der Form [Ziffern][Punkt][Ziffern][Punkt][Ziffern]

In [30]:
re.findall('[A-Z][a-z]{1,10}\. \d{1,3}\.\d{1,3}\.\d{1,3}',dfPoleis['Beschreibung'].iloc[0])

['Diod. 14.90.3',
 'Diod. 19.65.6',
 'Diod. 14.78.5',
 'Diod. 14.90.3',
 'Diod. 19.65.6',
 'Diod. 19.110.4']

Finde alle Ausdrücke wie oben, wobei statt des Punktes nach den kleinen Buchstaben auch zwei Leerzeichen und eine runde Klammer folgen können

## Muster zur Erkennung von Namen

Empedokles  ( 496)
Theron  ( 476)
Timoleon  c. 338

In [31]:
re.findall('[A-Z][a-z]{1,10}[\.| ] [(|\d{0,4}][\d{1,4}| ][\.|\d{}]\d{1,3}[\.|\d][\d|)]',dfPoleis['Beschreibung'].iloc[0])

['Diod. 14.90.3',
 'Diod. 19.65.6',
 'Diod. 14.78.5',
 'Diod. 14.90.3',
 'Diod. 19.65.6',
 'Diod. 19.110.4',
 'Manni  ( 1976',
 'Villard  ( 1954)',
 'Spigo  ( 1997',
 'Bertino  ( 1975)',
 'Bertino  ( 1975)',
 'Bertino  ( 1975)']

In [32]:
dfPoleis['Namen'] = dfPoleis['Beschreibung'].apply(lambda raw: ListePatternFull(raw,'[A-Z][a-z]{3,10}'))

In [33]:
dfPoleis['Quellen'] = dfPoleis['Beschreibung'].apply(lambda raw: ListePatternFull(raw,'[A-Z][a-z]{1,10}[\.| ] [(|\d{0,4}][\d{1,4}| ][\.|\d{}]\d{1,3}[\.|\d][\d|)]'))

In [34]:
dfPoleis.head(4)

,Beschreibung,city,city_index,Latitude,Longitude,Namen,Quellen
5. Abakainon,"(Abakaininos) Map 47. Lat. 38.05,long. 15.05...",bakainon,5,38.05,15.05,"[Abakaininos, Size, Type, Diod, Diod, Steph, D...","[Diod. 14.90.3, Diod. 19.65.6, Diod. 14.78.5, ..."
6. Adranon,"(Adranites) Map 47. Lat. 37.40,long. 14.50....",dranon,6,37.40,14.50,"[Adranites, Size, Type, Diod, Steph, Diod, Adr...","[Diod. 14.37.5, Diod. 16.68.9, Diod. 14.37.5, ..."
7. Agyrion,"(Agyrinaios) Map 47. Lat. 37.40,long. 14.30...",gyrion,7,37.40,14.30,"[Agyrinaios, Size, Type, Diod, Ptol, Geog, Ste...","[Byz. 23.19), Diod. 16.82.4, Moggi ( 1976), D..."
8. Aitna,(Aitnaios) Map 47.Location of Aitna I as ...,itna,8,None,None,"[Aitnaios, Location, Aitna, Katane, Aitna, Dio...","[Diod. 11.49.1, Diod. 11.49.1, Diod. 11.66.4, ..."

# Datenvalidierung

## Wertverteilungen, Test auf Dopplungen

Lese Werte der Spalte Quellen als Liste aus.

In [35]:
mainList = dfPoleis['Quellen'].values.tolist()

Reduziere Unterlisten auf eine Gesamtliste.

In [47]:
quellenListe = []
for sublist in mainList:
    if sublist:
        for k in range(len(sublist)):
            quellenListe.append(sublist[k])

In [48]:
quellenListe[:10]

['Diod. 14.90.3',
 'Diod. 19.65.6',
 'Diod. 14.78.5',
 'Diod. 14.90.3',
 'Diod. 19.65.6',
 'Diod. 19.110.4',
 'Manni  ( 1976',
 'Villard  ( 1954)',
 'Spigo  ( 1997',
 'Bertino  ( 1975)']

Zähle die Häufigkeit der verschiedenen Quellen und speichere als Dictionary.

In [49]:
quellenVerteilung = {x:quellenListe.count(x) for x in quellenListe}
quellenVerteilung['Diod. 14.90.3']

2

Erzeuge DataFrame, mit neuem Index und Namen der Spalten. Sortiere diesen Nach der Häufigkeit der Quelle.

In [50]:
dfQuellenVerteilung = pd.DataFrame([quellenVerteilung])

In [51]:
dfQuellenVerteilung = dfQuellenVerteilung.transpose().reset_index()

In [52]:
dfQuellenVerteilung = dfQuellenVerteilung.rename(columns={'index': 'Quelle', 0:'Häufigkeit'})

In [53]:
dfQuellenVerteilung.sort_values(by='Häufigkeit',ascending=False).head(10)

                  Quelle  Häufigkeit
382    Manganaro  ( 1996          15
331        Hinz  ( 1998)          13
509     Talbert  ( 1974)          13
83     Cavalier  ( 1991)          11
344    Karlsson  ( 1995)           9
226        Diod. 14.78.7           9
113        Diod. 11.49.2           9
47   Boehringer  ( 1998)           8
478      Rutter  ( 1997)           8
327      Hansen  ( 2000)           8